@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply min-h-screen bg-white dark:bg-dark text-gray-light w-[100%] min-w-[350px];
  }
  .banner {
    @apply h-[500px] min-w-[350px];
  }
  .page {
    @apply relative mt-[-150px] max-w-[1280px] w-[100%] z-30 mx-auto p-4 pt-6 xl:rounded-2xl bg-gradient-to-b from-white to-[#ffffff30] dark:to-[#00000030] dark:from-dark bg-opacity-30 dark:bg-opacity-30;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.scrollbar {
  overflow: overlay;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
  border-radius: 100vh;
}
